<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login page</title>
</head>
<body>
    <form action="/login" method="post">
        <!--user input-->
        <p>Username</p>
        <input type="text" name="username" placeholder="username" required/>
        <br /><br />
        <p>Password</p>
        <input type="password" name="password" placeholder="password" required/>
        <br /><br />
        <!--submit button-->
        <button type="submit">Login</button>
        <br /><br />
        <a href="/signup">signup</a>

    </form>
</body>
</html>