<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Market Place</title>
</head>
<body>
    <p>Welcome to Farmily Market Place</p>
    <div>
        <p>Here we can buy fresh Food direclty from the source,
             Connect with our farmers and get healthy foods from the farm.
        </p>
        <p>Go for a greener Environment!</p>
    </div>
    <div>
        <li>Potatoes</li>
        <li>Yam</li>
        <li>Vegeatables</li>
        <li>Rice</li>
        <li>Bean</li>
    </div>
    <br />
    <form method="post" action=".">
        <label>Amount of Produce</label>
        <input type="text" placeholder="Amount of produce" required>
        <br />
        <label>Delivery Address</label>
        <input type="text" placeholder="Delivery Account" required>
        <br />
        <label>Payment Method</label>
        <input type="search" placeholder="Payment Method" required>
    </form>
    <a href="/logout">logout</a>
</body>
</html>
